.job-item {
	border: 2px solid rgb(254, 209, 54);
	padding: 15px 0;
	background-color: #f8f8f8;
	margin-bottom: 10px;
	margin-top: 10px;
}

.media-object {
	height: 60px;
    padding-left: 10px;
}

#main-logo {
	height: 160px;
    margin-bottom: 30px;
}

.job-list-header {
	text-align: center;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 100px;
    margin-bottom: 25px;
    color: #777;
}

.job-info {
	padding-right: 15px;
}

.job-status-open {
	color: orange;
	overflow: hidden;
    white-space: nowrap;
}

.job-status-applied {
	color: #2e6da4;
	overflow: hidden;
    white-space: nowrap;
}

.job-status-selected {
	color: green;
	overflow: hidden;
    white-space: nowrap;
}

.job-info p {
	text-align: right;
}

.job-price, .job-tasker {
	color: rgb(51, 122, 183);
    font-weight: 900;
    font-size: 18px;
}

.job-tasker {
	color: #777;
}

@media screen and (max-with: 400px) {
	.intro-heading {
		font-size: 40px;
	}
}